* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

header, footer {
    text-align: center;
    background-color: #ccc;
    padding: 20px;
}

#videos {
    padding: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

a {
    border: 1px solid #3ba56e;
    margin-bottom: 20px;
}

.container-video {
    display: none;
    position: absolute;
    width: 96%;
    left: 2%;
}

.container-video:hover {
    cursor: pointer;
}

.container-video__wrapper {
    position: relative;
}

.video-close {
    background-color: yellow;
    font-weight: bold;
    font-size: 17px;
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}

.subtitles {
    position: absolute;
    height: 44px;
    bottom: 43px;
    padding-top: 8px;
    width: 100%;
    display: flex;
    background-color: rgba(0, 0, 0, 0.38);
    justify-content: center;
    z-index: 9999999999;
}

.subtitles-translates {
    z-index: 9999999999;
    position: fixed;
    display: none;
    width: 300px;
    left: 20px;
    top: 30px;
    display: none !important;
    text-align: center;
    padding: 15px;
    background-color: #2AC761;
    color: #ffffff;
}

.btn-tooltip {
    position: relative;
    font-weight: 500;
    color: white;
    border: none;
    text-decoration: none;
    background-color: transparent;
    font-size: 18px;
    font-family: "Roboto", "Arial", sans-serif;
}

.btn-tooltip:hover {
    color: #75c668;
}

.tippy-popper {
    z-index: 9999999999 !important;
}

.speak-starter-theme {
    background-color: rgba(255, 255, 255, 0.95);
    color: #000000;
    padding: 0;
    max-width: 145px;
}

.speak-starter-theme ul {
    margin: 0;
    padding: 0;
    padding-top: 20px;
    list-style: none;
}

.speak-starter-theme li {
    color: #453131;
    padding-bottom: 15px;
    padding-left: 30px;
    padding-right: 20px;
}

.speak-starter-theme .template-translate__buttons {
    background-color: #75c668;
    padding: 4px 0;
    padding-right: 10px;
    display: flex;
    align-items: center;
}

.speak-starter-theme .template-translate__menu {
    margin: 0 auto;
    background: transparent url(img/dots.svg) center center no-repeat;
    border: none;
    -webkit-background-size: cover;
    background-size: cover;
    width: 22px;
    height: 20px;
    margin-right: 22%;
}

.speak-starter-theme .template-translate__volumeon {
    width: 20px;
    height: 20px;
    background: transparent url(img/volumeon.svg) center center no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}

.tippy-popper[x-placement^=top] .tippy-arrow {
    border-top: 7px solid #fff;
}

#template-translates {
    display: none;
}